<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon.png">
    <title>Research</title>
</head>
<body>
    <div class="col-lg-6 col-sm-6 col-12 col-md-offset-3" align="center">
        <br>
        <h1>Lutvhi Rizkawati's Research</h1>
        <h4>Upload Your Datasets</h4>
    <form class="form-inline center-block well" action="/" method="POST" enctype="multipart/form-data">
        <div class="input-group">
            <label id="browsebutton" class="btn btn-default input-group-addon" for="my-file-selector" style="background-color:white">
                <input id="my-file-selector" name="file" type="file" style="display:none;">
                Browse...
            </label>
            <input id="label" type="text" class="form-control" readonly="">
        </div>
      <button type="submit" class="btn btn-primary">Upload</button>
      <span class="help-block">
    <small id="fileHelp" class="form-text text-muted">Only <strong>.xlsx</strong> file is allowed.</small>
    </span>
    </form>
        {{ done|safe }}
    </div>
    <script type="text/javascript" src="static/js/uploader.js"></script>
</body>
</html>